<h2>New Story</h2>

<%= form_tag '/stories/new', method: 'post' do %>

    <label for="part">Enter text</label>
    <input name="body" type="text">
    <span>140 characters</span>

    <button>Submit</button>

<% end %>
