<%= form_tag '/login', method: 'post' do %>

    <label for="email">Email</label>
    <input id="email" name="email" type="email">

    <label for="password">Password</label>
    <input id="password" name="password" type="password">

    <button>Login</button>

<% end %>

<h4>New to The Story Collective?</h4>
<a href="/signup">Sign Up</a>
